<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:aop="http://www.springframework.org/schema/aop"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
     http://www.springframework.org/schema/beans/spring-beans.xsd
     http://www.springframework.org/schema/aop
     http://www.springframework.org/schema/aop/spring-aop.xsd">
	<bean id="eddie"
		class="info.zoio.tec.java.springinaction.springidol.aspectj.Instrumentalist">
		<property name="instrument">
			<bean class="info.zoio.tec.java.springinaction.springidol.aspectj.Guitar" />
		</property>
	</bean>

	<bean id="audience"
		class="info.zoio.tec.java.springinaction.springidol.aspectj.Audience" />

	<bean id="audience1"
		class="info.zoio.tec.java.springinaction.springidol.aspectj.AroundAudience" />

	<bean class="info.zoio.tec.java.springinaction.springidol.aspectj.ContestantIntroducer" />

	<aop:aspectj-autoproxy />
</beans>
