<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:aop="http://www.springframework.org/schema/aop"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
     http://www.springframework.org/schema/beans/spring-beans.xsd
     http://www.springframework.org/schema/aop
     http://www.springframework.org/schema/aop/spring-aop.xsd">
	<bean id="eddie"
		class="info.zoio.tec.java.springinaction.springidol.aop.Instrumentalist">
		<property name="instrument">
			<bean class="info.zoio.tec.java.springinaction.springidol.aop.Guitar" />
		</property>
	</bean>

	<bean id="audience"
		class="info.zoio.tec.java.springinaction.springidol.aop.Audience" />

	<aop:config>
		<aop:aspect ref="audience">
			<aop:before
				pointcut="execution(* info.zoio.tec.java.springinaction.springidol.aop.Performer.perform(..))"
				method="takeSeats" />

			<aop:before
				pointcut="execution(* info.zoio.tec.java.springinaction.springidol.aop.Performer.perform(..))"
				method="turnOffCellPhones" />

			<aop:after-returning
				pointcut="execution(* info.zoio.tec.java.springinaction.springidol.aop.Performer.perform(..))"
				method="applaud" />

			<aop:after-throwing
				pointcut="execution(* info.zoio.tec.java.springinaction.springidol.aop.Performer.perform(..))"
				method="demandRefund" />
		</aop:aspect>
	</aop:config>
</beans>
